/* Style the element with the id "meucabeçalho" */
#cabeçalho {
    background-color: rgb(212, 185, 236);
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
}
/* Style the element with the id "myHeader" */
#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  }
  
  /* Style all elements with the class name "city" */
  .city {
    background-color: tomato;
    color: white;
    padding: 10px;